body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
}

#container {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#drawCanvas {
  pointer-events: auto;
}
